<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranked</title>
    <link rel="stylesheet" href="http://localhost/Proyecto_redes_II/public/css/dashboardStyle.css">
</head>
<body>
  <main class="table" id="scores-table">
    <section class="table__header">
        <h1>Ranking</h1>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Puesto </th>
                    <th> Nombre </th>
                    <th> Apellido</th>
                    <th> Puntaje </th>
                    <th> Tiempo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Las filas del ranking se agregarán aquí con JavaScript -->
            </tbody>
        </table>
    </section>
</main>
<script src="http://localhost/Proyecto_redes_II/public/js/ranking.js"></script>
</body>
</html>
