<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranked</title>
    <link rel="stylesheet" href="../public/css/dashboard.css">
</head>
<body>
    <div class="maincontainer">
        <h1>Ranked</h1>
    
        <div class="descripcion">
          <h2 class="puesto">Puesto</h2>
          <h2 class="nombre">Nombre</h2>
          <h2 class="apellido">Apellido</h2>
          <h2 class="puntos">Puntos</h2>
          <h2 class="tiempo_jugado">Tiempo jugado</h2>
        </div>
    
        <div class="puesto_row">
          <p class="puesto">1</p>
          <p class="nombre">Juan</p>
          <p class="apellido">Pérez</p>
          <p class="puntos">1500</p>
          <p class="tiempo_jugado">00:30:45</p>
        </div>
    
        <div class="puesto_row">
          <p class="puesto">2</p>
          <p class="nombre">Ana</p>
          <p class="apellido">López</p>
          <p class="puntos">1400</p>
          <p class="tiempo_jugado">00:28:10</p>
        </div>
    
        <div class="puesto_row">
            <p class="puesto">3</p>
            <p class="nombre">Ana</p>
            <p class="apellido">López</p>
            <p class="puntos">1400</p>
            <p class="tiempo_jugado">00:28:10</p>
        </div>

        <div class="puesto_row">
            <p class="puesto">4</p>
            <p class="nombre">Ana</p>
            <p class="apellido">López</p>
            <p class="puntos">1400</p>
            <p class="tiempo_jugado">00:28:10</p>
        </div>

        <div class="puesto_row">
            <p class="puesto">5</p>
            <p class="nombre">Ana</p>
            <p class="apellido">López</p>
            <p class="puntos">1400</p>
            <p class="tiempo_jugado">00:28:10</p>
        </div>
    </div>
    
</body>
</html>