<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranked</title>
    <link rel="stylesheet" href="http://localhost/Proyecto_redes_II/public/css/dashboardStyle.css">
</head>
<body>
  <main class="table" id="customers_table">
    <section class="table__header">
        <h1>Ranking</h1>
        
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Puesto </th>
                    <th> Nombre </th>
                    <th> Apellido</th>
                    <th> Puntaje </th>
                    <th> Tiempo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 1 </td>
                    <td> nombre</td>
                    <td> apellido </td>
                    <td> puntaje </td>
                    <td>00:00:00</td>
                </tr>
                <tr>
                  <td> 2 </td>
                  <td> nombre</td>
                  <td> apellido </td>
                  <td> puntaje </td>
                  <td>00:00:00</td>
                </tr>
                <tr>
                  <td> 3 </td>
                  <td> nombre</td>
                  <td> apellido </td>
                  <td> puntaje </td>
                  <td>00:00:00</td>
                </tr>
                <tr>
                  <td> 4 </td>
                  <td> nombre</td>
                  <td> apellido </td>
                  <td> puntaje </td>
                  <td>00:00:00</td>
                </tr>
                <tr>
                  <td> 5 </td>
                  <td> nombre</td>
                  <td> apellido </td>
                  <td> puntaje </td>
                  <td>00:00:00</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>