<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spin Wheel App</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../public/css/wheelStyle.css" />
  </head>
  <body>
    <img src="../assets/imagen_izquierda-removed.png" alt="izquierda" class="izquierda"/>

    <div class="wrapper">
      <div class="container">
        <canvas id="wheel"></canvas>
        <button id="spin-btn">Spin</button>
        <img src="../assets/Arrow-PNG-Picture.png" alt="spinner-arrow" />
        
      </div>
      <div id="final-value">
        <p>Haga click en el boton para iniciar</p>
      </div>
    </div>
    <!-- Menubar -->
    <div class="menu">
      <ul class="menu-content">
        <li><a href="#"><span class="material-symbols-outlined">home</span><span>Home</span></a></li>
        <li><a href="../views/dashboard_ranking.html"><span class="material-symbols-outlined">dashboard</span><span>Dashboard</span></a></li>
        <li><a href="#"><span class="material-symbols-outlined">history</span><span>Historial del Juego</span></a></li>
        <li><a href="#"><span class="material-symbols-outlined">group_add</span><span>Invitar Amigos</span></a></li>
        <li><a href="#"><span class="material-symbols-outlined">person</span><span>Cuenta</span></a></li>
        <li><a href="../controllers/authController.php?logout=true"><span class="material-symbols-outlined">logout</span><span>Logout</span></a></li>
      </ul>
    </div>
    <img src="../assets/imagen_derecha-removed.png" alt="derecha" class="derecha"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
    <script src="../public/js/wheelScript.js"></script>
  </body>
</html>