/* Estilos generales para todos los elementos */
* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; /* Establece la fuente predeterminada para el contenido */
}

/* Estilos para el body (cuerpo de la página) */
body {
    margin: 0; 
    padding: 0; 
    background: linear-gradient(to right, #100375, #744704); /* Fondo degradado de izquierda a derecha */
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    overflow: hidden; 
}

/* Contenedor principal de la rueda */
.wrapper {
    width: 500px; 
    background-color: #624042;
    position: absolute; 
    transform: translate(-50%, -50%); 
    top: 50%; 
    left: 50%; 
    padding: 3em; 
    border-radius: 1em; 
}

/* Contenedor de la rueda (gráfico circular) */
.container {
    width: 500px; 
    background-color: #ccc; 
    border-radius: 50%; 
    border: 15px solid rgb(152, 152, 239);
    position: relative; 
    transition: 2s; 
    margin-left: -37px; 
}

/* Animación de rotación para la rueda */
@keyframes rotate {
    100% {
        transform: rotate(360deg); /* Rotación completa en 360 grados */
    }
}

/* Estilo para el botón de giro */
#spin-btn {
    position: absolute; 
    transform: translate(-50%, -50%); 
    top: 50%; 
    left: 50%; 
    height: 26%; 
    width: 26%; 
    border-radius: 50%;
    cursor: pointer; 
    border: 0; 
    background: radial-gradient(#fdcf3b 50%, #d88a40 85%); 
    color: #c66e16; 
    text-transform: uppercase; 
    font-size: 1.8em;
    letter-spacing: 0.1em; 
    font-weight: 600; 
}

/* Estilo para la imagen (icono dentro del contenedor) */
img {
    position: absolute; 
    width: 8em; 
    top: 49%; 
    right: -8%; 
}

/* Estilo para el área donde se muestra el valor final */
#final-value {
    font-size: 1.5em; 
    text-align: center;
    margin-top: 1.5em; 
    color: #f8f0f0; 
    font-weight: 500; 
}
/*estilo para las image derecha*/
.derecha {
    position: absolute; 
    right: 0;
    height: 100%;
    width: 15%;
    top: 0;
}
/*estilo para la imagen izquierda*/
.izquierda {
    position: absolute; 
    left: 0;
    height: 100%;
    width: 15%;
    top: 0;
    
}
/* Estilos para pantallas pequeñas (como teléfonos móviles) */
@media screen and (max-width: 768px) {
    .wrapper {
        font-size: 12px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }

    /* Ajusta la posición de la imagen en pantallas pequeñas */
    img {
        right: -5%; /* Ajuste de la posición de la imagen */
    }
}
